In [66]:
import pandas as pd
import numpy as np
from datetime import datetime

current_date = datetime.now()

# Loading the Data

In [67]:
df_branch_service = pd.read_json("branch_service_transaction_info.json")
df_customer_transaction = pd.read_json("customer_transaction_info.json")

# Profiling the Data

In [68]:
df_merged = pd.merge(df_customer_transaction, df_branch_service)

In [69]:
print(df_merged.shape)

(404187, 8)

In [70]:
print("\nInformation about the dataset:")
print(df_merged.info())

Information about the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 404187 entries, 0 to 404186
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   txn_id       404187 non-null  object
 1   avail_date   404187 non-null  object
 2   last_name    404187 non-null  object
 3   first_name   404187 non-null  object
 4   birthday     404187 non-null  object
 5   branch_name  391023 non-null  object
 6   service      404187 non-null  object
 7   price        312140 non-null  float64
dtypes: float64(1), object(7)
memory usage: 24.7+ MB
None

In [71]:
df_merged.head(10)

,txn_id,avail_date,last_name,first_name,birthday,branch_name,service,price
0,TXN-24546,2030-09-08,ORTIZ,EDUARDO,1990-07-08,MallOfAsia,Manicure,NaN
1,TXN-24546,2030-09-08,ORTIZ,EDUARDO,1990-07-08,MallOfAsia,Manicure,55.23240
2,TXN-24546,2012-04-03,Ortiz,Eduardo,1999-04-08,MallOfAsia,Manicure,NaN
3,TXN-24546,2012-04-03,Ortiz,Eduardo,1999-04-08,MallOfAsia,Manicure,55.23240
4,TXN-14642,2026-05-26,NIENOW,LEA,2000-11-26,Starmall,HairColor,NaN
5,TXN-14642,2026-05-26,NIENOW,LEA,2000-11-26,Starmall,HairColor,88.09393
6,TXN-14642,2006-11-15,Nienow,Lea,1995-03-14,Starmall,HairColor,NaN
7,TXN-14642,2006-11-15,Nienow,Lea,1995-03-14,Starmall,HairColor,88.09393
8,TXN-60295,2006-09-25,LESCH,FLETA,1993-05-22,SmallMall,FootSpa,NaN
9,TXN-60295,2006-09-25,LESCH,FLETA,1993-05-22,Starmall,FootSpa,NaN

In [72]:
df_merged.tail(10)

,txn_id,avail_date,last_name,first_name,birthday,branch_name,service,price
404177,TXN-43076,2021-02-27,Champlin,Queen,1995-03-29,MayMall,Haircut,66.123457
404178,TXN-43065,2025-01-05,Wyman,Giovanny,1993-01-10,Megamall,Rebond,400.231230
404179,TXN-43065,2025-01-05,Wyman,Giovanny,1993-01-10,MallOfAsia,Rebond,400.231230
404180,TXN-43065,2025-01-05,Wyman,Giovanny,1993-01-10,SmallMall,Rebond,400.231230
404181,TXN-43065,2025-01-05,Wyman,Giovanny,1993-01-10,Megamall,Rebond,400.231230
404182,TXN-43065,2025-01-05,Wyman,Giovanny,1993-01-10,MallOfAsia,Rebond,400.231230
404183,TXN-43065,2025-01-05,Wyman,Giovanny,1993-01-10,SmallMall,Rebond,400.231230
404184,TXN-43065,2025-01-05,Wyman,Giovanny,1993-01-10,Megamall,Rebond,400.231230
404185,TXN-43065,2025-01-05,Wyman,Giovanny,1993-01-10,MallOfAsia,Rebond,400.231230
404186,TXN-43065,2025-01-05,Wyman,Giovanny,1993-01-10,SmallMall,Rebond,400.231230

### Null values count

In [73]:
print(df_merged.isnull().sum())

txn_id             0
avail_date         0
last_name          0
first_name         0
birthday           0
branch_name    13164
service            0
price          92047
dtype: int64

### Count of service with 0 price

In [74]:
df_merged['price'].value_counts()[0.0]

47844

In [75]:
df_merged.iloc[200000:200010]

,txn_id,avail_date,last_name,first_name,birthday,branch_name,service,price
200000,TXN-11357,2013-05-27,runte,kurtis,2007-03-10,SmallMall,Rebond,0.0
200001,TXN-11357,2013-05-27,runte,kurtis,2007-03-10,RobinsonsMall,Rebond,0.0
200002,TXN-11357,2013-05-27,runte,kurtis,2007-03-10,MayMall,Rebond,0.0
200003,TXN-11357,2013-05-27,runte,kurtis,2007-03-10,SmallMall,Rebond,0.0
200004,TXN-11357,2013-05-27,runte,kurtis,2007-03-10,SmallMall,Rebond,0.0
200005,TXN-11357,2013-05-27,runte,kurtis,2007-03-10,RobinsonsMall,Rebond,0.0
200006,TXN-11357,2013-05-27,runte,kurtis,2007-03-10,MayMall,Rebond,0.0
200007,TXN-11357,2013-05-27,runte,kurtis,2007-03-10,SmallMall,Rebond,0.0
200008,TXN-11357,2013-05-27,runte,kurtis,2007-03-10,SmallMall,Rebond,0.0
200009,TXN-11357,2013-05-27,runte,kurtis,2007-03-10,RobinsonsMall,Rebond,0.0

In [76]:
df_merged.iloc[280000:280010]

,txn_id,avail_date,last_name,first_name,birthday,branch_name,service,price
280000,TXN-54447,2008-02-10,"Bashirian,,,,,,,,",Daniela........,1997-08-22,FrankMall,HairColor,88.093930
280001,TXN-54447,2008-02-10,"Bashirian,,,,,,,,",Daniela........,1997-08-22,Megamall,HairColor,88.093930
280002,TXN-54447,2008-02-10,"Bashirian,,,,,,,,",Daniela........,1997-08-22,Starmall,HairColor,88.093930
280003,TXN-54447,2008-02-10,"Bashirian,,,,,,,,",Daniela........,1997-08-22,FrankMall,HairColor,88.093930
280004,TXN-54447,2008-02-10,"Bashirian,,,,,,,,",Daniela........,1997-08-22,Megamall,HairColor,88.093930
280005,TXN-54447,2008-02-10,"Bashirian,,,,,,,,",Daniela........,1997-08-22,Starmall,HairColor,88.093930
280006,TXN-54447,2008-02-10,"Bashirian,,,,,,,,",Daniela........,1997-08-22,FrankMall,HairColor,88.093930
280007,TXN-49770,2009-05-03,"Wisozk,,,,,,,,",Neil........,2000-11-28,,Haircut,66.123457
280008,TXN-55643,2026-05-04,"Runolfsson,,,,,,,,",Ervin........,1997-01-13,MayMall,FootSpa,100.121230
280009,TXN-61827,2027-08-20,"Von,,,,,,,,",Vernon........,1992-10-17,None,FootSpa,100.121230

In [77]:
df_merged.iloc[400000:400010]

,txn_id,avail_date,last_name,first_name,birthday,branch_name,service,price
400000,TXN-18595,2018-04-20,Durgan,Melisa,1997-10-21,MallOfAsia,Haircut,66.123457
400001,TXN-02730,2009-07-10,Schroeder,Lucinda,1991-12-30,None,FootSpa,100.121230
400002,TXN-49708,2005-11-28,Turcotte,Scot,1992-05-02,MayMall,Rebond,400.231230
400003,TXN-49708,2005-11-28,Turcotte,Scot,1992-05-02,FrankMall,Rebond,400.231230
400004,TXN-49708,2005-11-28,Turcotte,Scot,1992-05-02,MayMall,Rebond,400.231230
400005,TXN-49708,2005-11-28,Turcotte,Scot,1992-05-02,FrankMall,Rebond,400.231230
400006,TXN-42446,2030-09-12,Bradtke,Tremayne,1994-04-17,FrankMall,Haircut,66.123457
400007,TXN-45512,2006-09-20,Moen,Adrienne,2006-06-07,Megamall,Pedicure,77.987989
400008,TXN-45512,2006-09-20,Moen,Adrienne,2006-06-07,MallOfAsia,Pedicure,77.987989
400009,TXN-45512,2006-09-20,Moen,Adrienne,2006-06-07,Megamall,Pedicure,77.987989

### Counting names with special characters

In [78]:
df_merged["last_name"].str.contains('\,').value_counts()

<>:1: SyntaxWarning: invalid escape sequence '\,'
<>:1: SyntaxWarning: invalid escape sequence '\,'
C:\Users\arian\AppData\Local\Temp\ipykernel_23928\2421698511.py:1: SyntaxWarning: invalid escape sequence '\,'
  df_merged["last_name"].str.contains('\,').value_counts()

last_name
False    355489
True      48698
Name: count, dtype: int64

In [79]:
df_merged["first_name"].str.contains('\.').value_counts()

<>:1: SyntaxWarning: invalid escape sequence '\.'
<>:1: SyntaxWarning: invalid escape sequence '\.'
C:\Users\arian\AppData\Local\Temp\ipykernel_23928\3815492833.py:1: SyntaxWarning: invalid escape sequence '\.'
  df_merged["first_name"].str.contains('\.').value_counts()

first_name
False    355489
True      48698
Name: count, dtype: int64

### Counting duplicates

In [80]:
df_merged.duplicated().sum()

253144

### Comparing Services with Price

In [81]:
services_price = df_merged[['service', 'price']]

In [82]:
df_merged.groupby(['service', 'price']).size().reset_index().rename(columns={0: 'count'})

      service       price  count
0     FootSpa    0.000000   6836
1     FootSpa  100.121230  37945
2   HairColor    0.000000   6901
3   HairColor   88.093930  37625
4     Haircut    0.000000   6443
5     Haircut   66.123457  36665
6    Manicure    0.000000   6698
7    Manicure   55.232400  37641
8   NailColor    0.000000   7662
9   NailColor   30.123790  38272
10   Pedicure    0.000000   6385
11   Pedicure   77.987989  38163
12     Rebond    0.000000   6919
13     Rebond  400.231230  37985

In [83]:
df_merged['avail_date'] = pd.to_datetime(df_merged['avail_date'])

In [84]:
df_merged['birthday'] = pd.to_datetime(df_merged['birthday'])

### Counting Same avail date and txn id

In [85]:
df_merged.groupby(['txn_id', 'avail_date']).size().reset_index().rename(columns={0: 'count'})

          txn_id avail_date  count
0      TXN-00000 2010-10-25      9
1      TXN-00001 2012-04-21      4
2      TXN-00003 2024-05-11      1
3      TXN-00004 2010-03-07      1
4      TXN-00005 2017-07-28      9
...          ...        ...    ...
72347  TXN-65530 2021-07-02      2
72348  TXN-65532 2015-02-07      2
72349  TXN-65532 2022-05-21      2
72350  TXN-65534 2020-11-11      1
72351  TXN-65535 2007-06-17      1

[72352 rows x 3 columns]

### Counting Same TXN ID but different birthdays

In [86]:
df_merged.groupby('txn_id')['birthday'].count()

txn_id
TXN-00000    9
TXN-00001    4
TXN-00003    1
TXN-00004    1
TXN-00005    9
            ..
TXN-65529    4
TXN-65530    4
TXN-65532    4
TXN-65534    1
TXN-65535    1
Name: birthday, Length: 62354, dtype: int64

### Comparing Avail Date and Birthdays

In [87]:
invalid = df_merged['birthday'] >= df_merged['avail_date']
invalid.value_counts()

False    391815
True      12372
Name: count, dtype: int64

### Setting up current ages depending on birthday and avail date

In [88]:
df_merged['age_during_avail'] = ((df_merged['avail_date'] - df_merged['birthday']).dt.days / 365.25).astype(np.int64)

### Checking age during avail date

In [89]:
conditions = (
    (df_merged['service'] == 'Manicure') & (df_merged['age_during_avail'] <= 13) |
    (df_merged['service'] == 'Hair Color') & (df_merged['age_during_avail'] <= 16) |
    (df_merged['service'] == 'FootSpa') & (df_merged['age_during_avail'] <= 8) |
    (df_merged['service'] == 'Rebond') & (df_merged['age_during_avail'] <= 16) |
    (df_merged['service'] == 'NailColor') & (df_merged['age_during_avail'] <= 13) |
    (df_merged['service'] == 'Pedicure') & (df_merged['age_during_avail'] <= 13)
)
age_restricted = df_merged[conditions]

In [90]:
print(age_restricted.shape)

(102568, 9)

### Checking Unique Transaction Ids

In [91]:
print(df_merged.nunique())

txn_id              62354
avail_date           9489
last_name            2345
first_name          14740
birthday             7668
branch_name             9
service                 7
price                   8
age_during_avail       46
dtype: int64

### Checking Unique branch name, services and prices

In [92]:
df_merged['branch_name'].unique()

array(['MallOfAsia', 'Starmall', 'SmallMall', 'MayMall', 'FrankMall',
       'Megamall', 'RobinsonsMall', '', None, 'N/A'], dtype=object)

In [93]:
df_merged['service'].unique()

array(['Manicure', 'HairColor', 'FootSpa', 'Rebond', 'Haircut',
       'NailColor', 'Pedicure'], dtype=object)

In [94]:
df_merged['price'].unique()

array([         nan,  55.2324    ,  88.09393   , 100.12123   ,
       400.23123   ,  66.12345678,  30.1237897 ,  77.987989  ,
         0.        ])

### Count of blank branch name

In [95]:
df_merged['branch_name'].value_counts()['']

2766

### Count of N/A Branch Name

In [96]:
df_merged['branch_name'].value_counts()['N/A']

2727

### Checking Avail Date

In [97]:
print(df_merged['avail_date'].min())
print(df_merged['avail_date'].max())

2005-01-01 00:00:00
2030-12-30 00:00:00

### Checking Birthdays

In [98]:
print(df_merged['birthday'].min())
print(df_merged['birthday'].max())

1990-01-01 00:00:00
2010-12-30 00:00:00

### Count avail date after current

In [99]:
invalid_date = df_merged[df_merged['avail_date'] >= current_date]
print(invalid_date.shape)

(109040, 9)

# Data Cleaning

### Removing Duplicates

In [35]:
print(df_merged.shape)
df_merged = df_merged.drop_duplicates()
print(df_merged.shape)

(404187, 9)
(151043, 9)

In [36]:
df_merged.to_parquet("merged_txn_duplicates_removed.parquet")

### Converting empty cells to NaN

In [37]:
df_merged.replace('', np.nan, inplace=True)

### Removing NaN Values

In [38]:
print(df_merged.shape)
df_merged = df_merged.dropna()
print(df_merged.shape)

(151043, 9)
(104308, 9)

### Remove N/A from branch name

In [39]:
df_merged = df_merged[df_merged['branch_name'].str.contains('N/A')==False]

### Remove rows with 0 price

In [40]:
df_merged = df_merged[df_merged['price'] != 0]

In [41]:
df_merged.to_parquet("merged_null_removed.parquet")

### Remove unnecessary symbols from last name and first name

In [42]:
df_merged['last_name'] = df_merged['last_name'].str.replace(',', '')

In [43]:
df_merged['first_name'] = df_merged['first_name'].str.replace('.', '')

### Making Both First name and last name upper case

In [44]:
df_merged['last_name'] = df_merged['last_name'].str.upper()

In [45]:
df_merged['first_name'] = df_merged['first_name'].str.upper()

In [46]:
df_merged.to_parquet("merged_name_clean.parquet")

### Converting object to actual DateTime

In [47]:
df_merged.to_parquet("merged_standardized_info.parquet")

In [48]:
print(df_merged.shape)

(86389, 9)

# Data Validating

### Removing Rows with Avail Date Beyond current date

In [49]:
df_merged = df_merged[df_merged['avail_date'] <= current_date]

### Removing rows with same transaction id and avail date but different branch name

In [50]:
df_merged = df_merged.drop_duplicates(subset=['txn_id','avail_date','service'], keep ='first')

### Removing same transaction id and names but different birthday keeping only the earlier avail date

In [51]:
df_merged['birthday'] = df_merged.sort_values(['txn_id','avail_date'],ascending=False).groupby('txn_id')['birthday'].transform('first')

In [52]:
df_merged.to_parquet("merged_date.parquet")

In [53]:
print(df_merged.shape)

(34826, 9)

### Removing birthdays before avail date

In [54]:
df_merged = df_merged[df_merged['birthday'] <= df_merged['avail_date']]

### Removing ages too young to avail for services

In [55]:
conditions = (
    (df_merged['service'] == 'Manicure') & (df_merged['age_during_avail'] >= 13) |
    (df_merged['service'] == 'Hair Color') & (df_merged['age_during_avail'] >= 16) |
    (df_merged['service'] == 'FootSpa') & (df_merged['age_during_avail'] >= 8) |
    (df_merged['service'] == 'Rebond') & (df_merged['age_during_avail'] >= 16) |
    (df_merged['service'] == 'Haircut') |
    (df_merged['service'] == 'NailColor') & (df_merged['age_during_avail'] >= 13) |
    (df_merged['service'] == 'Pedicure') & (df_merged['age_during_avail'] >= 13)
)
df_merged = df_merged[conditions]

In [56]:
df_merged.to_parquet("merged_age_restriction.parquet")

## Data Rechecking

In [57]:
print(df_merged.shape)

(18624, 9)

In [58]:
print(df_merged['age_during_avail'].unique())

[10 23 14 17 25 29 11 18 20 26 12 24 21 19  3 13 28  9 31  6  7 15 16 27
 22 30  4  5  8  2 -1 32  1 33  0 -2 -3 -4]

In [59]:
df_merged.iloc[100:130]

,txn_id,avail_date,last_name,first_name,birthday,branch_name,service,price,age_during_avail
3007,TXN-64483,2020-12-28,GERHOLD,KIAN,2001-12-04,MallOfAsia,FootSpa,100.121230,19
3027,TXN-33059,2014-04-28,ROHAN,ARON,1998-06-19,RobinsonsMall,Pedicure,77.987989,15
3069,TXN-48766,2019-10-06,HALVORSON,RUSS,1999-03-04,Megamall,Rebond,400.231230,20
3088,TXN-09534,2014-04-22,LINDGREN,ROBERTO,1994-01-11,FrankMall,FootSpa,100.121230,20
3266,TXN-20416,2017-11-05,MCKENZIE,DELPHA,1998-12-07,Starmall,NailColor,30.123790,18
3276,TXN-50378,2022-07-11,BAYER,CAROLE,2005-12-14,Megamall,Pedicure,77.987989,16
3308,TXN-50378,2015-01-03,BAYER,CAROLE,2005-12-14,Megamall,Pedicure,77.987989,15
3339,TXN-26009,2022-05-25,ONDRICKA,DALTON,2002-12-16,RobinsonsMall,NailColor,30.123790,19
3358,TXN-00733,2007-10-16,CARROLL,DUANE,1990-08-25,MayMall,Rebond,400.231230,17
3415,TXN-13676,2018-12-19,BAUMBACH,TORRANCE,2010-10-16,SmallMall,Pedicure,77.987989,24
3420,TXN-23094,2015-11-08,RAYNOR,CARLIE,1993-06-10,Megamall,Manicure,55.232400,17
3452,TXN-23094,2023-01-06,RAYNOR,CARLIE,1993-06-10,Megamall,Manicure,55.232400,29
3487,TXN-48316,2011-02-27,VEUM,DEREK,1998-06-09,FrankMall,Pedicure,77.987989,14
3505,TXN-48316,2012-05-12,VEUM,DEREK,1998-06-09,FrankMall,Pedicure,77.987989,13
3560,TXN-54642,2014-08-09,SCHMITT,CURTIS,1995-02-02,SmallMall,FootSpa,100.121230,19
3598,TXN-64356,2019-08-26,MITCHELL,ROCIO,2008-01-06,RobinsonsMall,FootSpa,100.121230,11
3625,TXN-37647,2017-05-14,MITCHELL,MACY,1999-10-28,MayMall,FootSpa,100.121230,17
3710,TXN-62766,2017-03-15,SCHULIST,DELPHINE,2007-05-07,MayMall,FootSpa,100.121230,9
3718,TXN-62766,2016-06-30,SCHULIST,DELPHINE,2007-05-07,MayMall,FootSpa,100.121230,17
3742,TXN-23581,2014-12-04,RATH,JASON,1998-12-28,SmallMall,FootSpa,100.121230,15
3750,TXN-23581,2010-09-25,RATH,JASON,1998-12-28,SmallMall,FootSpa,100.121230,9
3759,TXN-38091,2019-06-29,GORCZANY,DEVON,1990-02-12,MallOfAsia,FootSpa,100.121230,29
3770,TXN-05769,2018-05-28,EICHMANN,OWEN,1997-10-08,MayMall,Rebond,400.231230,20
3785,TXN-11899,2016-12-19,BERNHARD,BREANNA,1990-03-25,RobinsonsMall,Manicure,55.232400,26
3863,TXN-57791,2018-01-25,AUFDERHAR,NIGEL,1992-05-26,MayMall,Pedicure,77.987989,25
3911,TXN-58184,2012-05-03,HETTINGER,AMERICA,1993-03-23,MallOfAsia,Rebond,400.231230,19
3917,TXN-24215,2022-09-03,JEWESS,JUNIUS,1994-04-12,SmallMall,FootSpa,100.121230,28
3922,TXN-59723,2013-01-23,HAAG,VELVA,1995-07-20,MayMall,FootSpa,100.121230,17
3937,TXN-50500,2015-08-10,ALTENWERTH,JUWAN,1992-08-31,MayMall,Rebond,400.231230,22
3945,TXN-57165,2020-03-16,ANKUNDING,CONNOR,2006-02-08,Megamall,Haircut,66.123457,14

## Data to Database using SQLite

In [60]:
import sqlite3

db_connection = sqlite3.connect('clean_data.db')
cursor = db_connection.cursor()
df_merged.to_sql('clean_data', db_connection, index=False, if_exists='replace')

# Commit changes and close the connection
db_connection.commit()
db_connection.close()

In [61]:
print(df_merged.shape)

(18624, 9)

## WEEKLY SALES PER SERVICE

In [62]:
df_merged['avail_date'] = pd.to_datetime(df_merged['avail_date'])
df_merged.groupby(['service', df_merged['avail_date'].dt.to_period('W')])['price'].sum().to_frame()

                                    price
service avail_date
FootSpa 2005-01-03/2005-01-09   200.24246
        2005-01-10/2005-01-16   200.24246
        2005-01-17/2005-01-23   400.48492
        2005-01-24/2005-01-30   100.12123
        2005-01-31/2005-02-06   200.24246
...                                   ...
Rebond  2023-10-23/2023-10-29  1600.92492
        2023-10-30/2023-11-05  2801.61861
        2023-11-06/2023-11-12  2001.15615
        2023-11-13/2023-11-19  1600.92492
        2023-11-20/2023-11-26   800.46246

[5215 rows x 1 columns]

In [63]:
df_merged.to_parquet("merged_weekly_per_service.parquet")